/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  	font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  	margin: 0;
  	
}

.colourbox {
	width: 100%;
	height: 300px;
	background-color: #1c5380;
	display: inline;
	position: relative;
}

.mainBox {
	margin: auto;
	margin-top: 100px;
	width: 1000px;
	height: 514px;
	background-image: url("images/frame.png");
}

.mainImage{
	display: inline-block;
	float: left;
}

.login{
	display: inline-block;
	float: right;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
	color: #ffffff;
	font-weight: bold;
	background-color: #1c5380;
}

header {
	display: inline-block;
	margin-left: 50px;
}

.text {
	width: 602px;
	padding-left: 20px;
	padding-top: 20px;
	float: right;
}

.intro {
	font-size: 25px;
	font-weight: bold;
	color: 06365f;
}

 h1 {
  font-size: 25px;
  margin: 0;
 }

.buttons {

}

footer {
	margin: 50px 50px 0 50px;
	width:1000px;
	margin: auto;
	display: inline-block;
	padding-top: 30px;
	font-weight: bold;
	color: #aaaaaa;
	text-align: center;
}

span {
	color: #1c5380;
}