/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  	font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  	margin: 0;
  	background-image: url("images/bgtile.png");
  	background-repeat: repeat-x;
}

.mainBox {
	margin: auto;
	margin-top: 100px;
	width: 1000px;
	height: 514px;
	/*background-image: url("images/frame.png");*/
}

.mainImage{
	display: inline-block;
	float: left;
}

.login{
	display: inline-block;
	float: right;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
}

header {
	display: inline-block;
	margin-left: 50px;
}

.text {
	width: 602px;
	padding-left: 20px;
	padding-top: 20px;
	float: right;
}

.intro {

}

p {
	
}

.buttons {

}

footer {
	margin: 50px 50px 0 50px;
	width:1000px;
	margin: auto;
	display: inline-block;
	text-align: center;
}