/* colours
		#48ACF0 - bright light blue
		#594236 - medium brown
		#AF988B - light brown (fancy font)
		#93A3BC - light purple
		#CCDDE2 - pale purple (background)
		#252323 - dark purple (higlight)
*/

body {
	background-color: #CCDDE2;
	height: 100vh;
}

main {
	background-color: #93A3BC;
	padding: 10px 0 10px 0;
}

li {
	list-style: none;
}

h4 {
	padding: 4px 0 0 5px;
}

.row {
	margin: 10px 0 10px 0;
}

.jumbotron {
	color: #aF988B;
	font-weight: bold;
	font-size: 2rem;
	background-color: #252323;
	padding: 2%;
	text-align: center;
}

.about-me {
	margin-bottom: 20px;
	font-size: 1.3rem;
}

.text-wrap {
	padding: 10px;
	margin-bottom: 2px;
}

.animal-title {
	font-size: 1rem;
}

.animal-cards {
	margin: 5px 0 5px 0;
}

.btn{
	background-color: #252323;
	border-color: #252323;
	color: #ffffff;
	margin: 2px;
}

.btn:hover {
	background-color: #252323;
	border-color: #252323;
	background-color: #93A3BC;
	color: #252323;
	border-color: #93A3BC;
}


